#header {
	background-color: #646464;
	padding: 2em 6em 2em 6em;
	border-bottom: 0.1em solid #000000;
}
#header a {
	text-decoration: none;
}
#header h1 {
	color: #000000;
	font-size: 2.5em;
	float: left;
	width: 50%;
	display: inline;
	font-family: 'Glegoo', Georgia, Times, serif;
}
#header #login {
	text-align: right;
}
#header #login input {
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	-khtml-border-radius: 0.2em;
	border-radius: 0.4em;
	padding: 0.4em;
	color: #646464;
}
#header #login input:focus {
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}
#signup {
	padding: 2em 6em 2em 6em;
	background-color: #FFFFFF;
	width: auto;
	height: 300px;
}
#signup #signup-left {
	float: left;
	width: auto;
}
#signup #signup-left h1 {
	font-size: 2em;
}
#signup #signup-right {
	float: right;
	width: auto;
	background-color: #FFFFFF;
	border: 0.1em solid black;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	-khtml-border-radius: 1em;
	border-radius: 1em;
	padding: 1em 6em 1em 1em;
	margin-right: 40%;
}
#signup #signup-right label {
	color: #000000;
	font-family: 'Glegoo', Georgia, Times, serif;
	font-size: 1.5em;
}
#signup #signup-right input {
	color: #000000;
}
#profile {
	width: auto;
	height: 400px;
	padding-left: 30em;
	padding-right: 30em;
	padding-top: 2em;
}
#profile h1 {
	display: inline;
	font-size: 3em;
}
#profile h2 {
	display: inline;
}
#profile img {
	width: 15em;
	height: 15em;
	border: 0.1em solid black;
}
#profile input {
	background-color: #323232;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 3em;
	white-space: nowrap;
	line-height: 1em;
	position: relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom: rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient(
	center top,
	rgba(255, 255, 255, .1) 0%,
	rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
	linear,
	center bottom,
	center top,
	from(rgba(0, 0, 0, .1)),
	to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter: progid :DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	margin-bottom: 10px;
}
#profile input:hover {
	background: -moz-linear-gradient(
	center top,
	rgba(255, 255, 255, .2) 0%,
	rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
	linear,
	center bottom,
	center top,
	from(rgba(255, 255, 255, .1)),
	to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
	filter: progid :DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
#footer {
	border-top: 0.1em solid #000000;
	background-color: #646464;
	height: 100%;
}
