#header {
	background-color: #646464;
	padding: 2em 6em 2em 6em;
}
#header h1 {
	color: #F52887;
	font-size: 2.5em;
	float: left;
	width: 50%;
	display: inline;
	font-family: 'Lobster', Georgia, Times, serif;
}
#header #login {
	text-align: right;
}
#header #login input {
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	-khtml-border-radius: 0.2em;
	border-radius: 0.4em;
	padding: 0.4em;
	color: #646464;
}
#header #login input:focus {
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}
#signup {
	padding: 2em 6em 2em 6em;
	background-color: #000000;
	background-image: url('../../heart_bkg.png');
	background-position: center;
	background-repeat: repeat-x;
	width: auto;
	height: 300px;
}
#signup #signup-left {
	float: left;
	width: auto;
}
#signup #signup-left h1 {
	font-size: 2em;
}
#signup #signup-right {
	float: right;
	width: auto;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	-khtml-border-radius: 1em;
	border-radius: 1em;
	padding: 1em 6em 1em 1em;
}
#signup #signup-right label {
	color: #FFFFFF;
	font-size: 1.5em;
}
#signup #signup-right input {
	color: #FFFFFF;
}
#footer {
	background-color: #646464;
	height: 100%;
}
