#profile {
	color: #FFFFFF;
	background: #FFFFFF;
	background-image: url('../images/background-gradient.jpg');
	background-repeat: repeat-x;
	padding-left: 10em;
	padding-top: 1em;
	height: 400px;
}
#profile #bio {
	margin-left: 25em;
}
#profile #menu {
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding: 1em;
	float: left;
	border-bottom: 1px solid gray;
	width: 200px;
}
#profile #menu li {
	font-size: 2em;
	list-style: none;
	margin: 0;
	padding: 0.25em;
	text-decoration: none;
}
#profile #menu a {
	text-decoration: none;
}
#profile p {
	width: 5em;
}
#profile h1 {
	font-size: 3em;
}
#profile h2 {
}
#profile img {
	width: 15em;
	height: 15em;
	border: 0.1em solid black;
}
#profile input {
	background-color: #323232;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 3em;
	white-space: nowrap;
	line-height: 1em;
	position: relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom: rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient(
	center top,
	rgba(255, 255, 255, .1) 0%,
	rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
	linear,
	center bottom,
	center top,
	from(rgba(0, 0, 0, .1)),
	to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter: progid :DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	margin-bottom: 10px;
}
#profile input:hover {
	background: -moz-linear-gradient(
	center top,
	rgba(255, 255, 255, .2) 0%,
	rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
	linear,
	center bottom,
	center top,
	from(rgba(255, 255, 255, .1)),
	to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
	filter: progid :DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
#edit {
	background-color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	padding: 1em;
}
