#header {
	background-color: #a4d5e6;
	padding: 2em 6em 2em 6em;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	height: 70px;
}
#header a {
	text-decoration: none;
}
#header h1 {
	color: #FFFFFF;
	font-size: 2.5em;
	width: 50%;
	display: inline;
	font-family: '', Georgia, Times, serif;
}
#header #login {
	text-align: right;
}